<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>About</title>
</head>

<body> 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <label class="navbar-brand" style="font-weight: bold;">ToDo</label>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/About">About</a>
                </li>
            </ul>
        </div>
    </nav><br>
    <div class="container">
        <h1 class="display-4" style="text-align: center;">About project and Developer</h1><br>
        <p style="font-size: 30px;">About Project</p>
        <p>It is an task management web-applicaton. With the help of this web application you can manage your task on daily basis.<br> And this application is created with the help of flask, Html and bootstrap.</p>
        <p> It allows users to manage their tasks from a smartphone, tablet and computer. The technology is produced by the team behind Wunderlist<br> It's a list of tasks you need to complete, or things that you want to do. Most typically, they're organised in order of priority.<br> Traditionally, they're written on a piece of paper or post it notes and acts as a memory aid.</p>
        <br>
        <p style="font-size: 30px;">About Developer</p>
        <p>Hola people! Myself Anuj Shukla and i created this project to enchance my skills. With the help of this project i learned so much about<br> backend and forntend as well, i did drag and drop forntend from bootstrap and modified it by myself. It's been really great experience<br> to make and develop this web-application. Well as a enthusiast learner i'm always open my mind to learn something new and implement.</p>
        <p style="text-align: center; font-size: 30px;">"Thanks For Viewing"</p>
    
    </div>
    <hr>
    </form>
    <footer>
        <div class="jumbotron">
            <h1 style="text-align: center;" class="display-4"><b>About US</b></h1>
            <p style="text-align: center;" class="lead">This is a simple ToDo webapp,<br> here we can add our todos and make our day better.</p>
            <p style="text-align: center;">Developed by Anuj Shukla.</p>
            <hr class="my-4">
            <p style="text-align: center;">Press the below Home button to go at homepage.</p>
            <p class="lead">
              <a style="margin-left: 47%;" class="btn btn-primary btn-lg" href="/" role="button">Home</a>
            </p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>