<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Update</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h4 style="font-weight: bold;">ToDo</h4>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/About">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <form action="/update/{{todo.sno}}" method="POST">
            <h1 style="text-align: center;" class="display-4">Update ToDo</h1>
            <div class="form-group">
                <label for="Desc">Update ToDo title</label>
                <input type="text" class="form-control" name="title" value="{{todo.title}}" placeholder="Enter your title">
                {% with messages = get_flashed_messages() %}  
                    {% if messages %}  
                        {% for message in messages %}  
                            <p><b>{{ message }}</b></p>  
                        {% endfor %}  
                    {% endif %}  
                {% endwith %}
                <label for="Desc">Update ToDo description</label>
                <input type="text" class="form-control"  name="desc" value="{{todo.desc}}" placeholder="Enter about your todo (optional)">
            </div>
            
            <button type="submit" class="btn btn-primary" style="margin-left: 46.5%;">Update</button>
        </form>
    </div>
    <footer>
        <hr>
        <div class="jumbotron">
            <h1 style="text-align: center;" class="display-4"><b>About US</b></h1>
            <p style="text-align: center;" class="lead">This is a simple ToDo webapp,<br> here we can add our todos and make our day better.</p>
            <p style="text-align: center;">Developed by Anuj Shukla.</p>
            <hr class="my-4">
            <p style="text-align: center;">Press on the below About button to learn more about this project.</p>
            <p class="lead">
              <a style="margin-left: 45.5%;" class="btn btn-primary btn-lg" href="/About" role="button">Learn more</a>
            </p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>